@font-face {
    font-family: "Rubik";
    src: url(./Fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: "OriginalSurfer";
    src: url(./Fonts/OriginalSurfer-Regular.ttf);
}

@font-face {
    font-family: "HennyPenny";
    src: url(./Fonts/HennyPenny-Regular.ttf);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: gray;
    border: 2px solid red;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* gap: 5px; */
    
    width: 1000px;
}

.grid {
    height: 16px;
    width: 16px;
    background-color: white;
    box-sizing: border-box;
}

.drawMode,
.chooseColor {
    display: flex;
    border: 2px solid red;
    justify-content: space-around;
    width: 490px;
}

.txt {
    display: flex;
    justify-content: flex-start;
    /* border: 2px solid red; */
    flex: 1;
}

.buttons1 {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    flex: 1;
}

h1 {
  font-family: "OriginalSurfer";
  font-weight: 700;
}

